@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 3;
        transform: none;
    }
}

.namingModal {
    animation: fadeIn 0.5s ease-in-out;
}